@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* --font-urbanist: var(--font-urbanist);
--font-mono: var(--font-geist-mono); */
@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-shine: shine var(--duration) infinite linear
;
  @keyframes shine {
  0% {
    background-position: 0% 0%;}
  50% {
    background-position: 100% 100%;}
  to {
    background-position: 0% 0%;}}
  --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
  @keyframes background-position-spin {
  0% {
    background-position: top center;}
  100% {
    background-position: bottom center;}}}

:root {
  --radius: 0.625rem;
  --background: rgba(5, 1, 13, 1);
  --foreground: rgba(33, 33, 33, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(33, 33, 33, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(33, 33, 33, 1);
  --primary: rgba(5, 1, 13, 1); 
  --primary-foreground: rgba(250, 250, 250, 1);
  --secondary: rgba(247, 247, 247, 1);
  --secondary-foreground: rgba(54, 54, 54, 1);
  --muted: rgba(247, 247, 247, 1);
  --muted-foreground: rgba(141, 141, 141, 1);
  --accent: rgb(179, 23, 227);
  --accent-foreground: rgba(5, 1, 13, 1);
  --destructive: rgba(255, 0, 0, 1);
  --border: rgba(237, 237, 237, 1);
  --input: rgba(237, 237, 237, 1);
  --ring: rgba(180, 180, 180, 1);
  --chart-1: rgba(165, 42, 42, 1);
  --chart-2: rgba(0, 128, 128, 1);
  --chart-3: rgba(70, 130, 180, 1);
  --chart-4: rgba(255, 165, 0, 1);
  --chart-5: rgba(255, 215, 0, 1);
  --sidebar: rgba(250, 250, 250, 1);
  --sidebar-foreground: rgba(33, 33, 33, 1);
  --sidebar-primary: rgba(54, 54, 54, 1);
  --sidebar-primary-foreground: rgba(250, 250, 250, 1);
  --sidebar-accent: rgba(247, 247, 247, 1);
  --sidebar-accent-foreground: rgba(54, 54, 54, 1);
  --sidebar-border: rgba(237, 237, 237, 1);
  --sidebar-ring: rgba(180, 180, 180, 1);
}

.dark {
  --background: rgba(33, 33, 33, 1);
  --foreground: rgba(250, 250, 250, 1);
  --card: rgba(54, 54, 54, 1);
  --card-foreground: rgba(250, 250, 250, 1);
  --popover: rgba(54, 54, 54, 1);
  --popover-foreground: rgba(250, 250, 250, 1);
  --primary: rgba(237, 237, 237, 1);
  --primary-foreground: rgba(54, 54, 54, 1);
  --secondary: rgba(71, 71, 71, 1);
  --secondary-foreground: rgba(250, 250, 250, 1);
  --muted: rgba(71, 71, 71, 1);
  --muted-foreground: rgba(180, 180, 180, 1);
  --accent: rgba(71, 71, 71, 1);
  --accent-foreground: rgba(250, 250, 250, 1);
  --destructive: rgba(180, 0, 0, 1);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(141, 141, 141, 1);
  --chart-1: rgba(125, 125, 255, 1);
  --chart-2: rgba(0, 255, 255, 1);
  --chart-3: rgba(255, 255, 0, 1);
  --chart-4: rgba(255, 0, 255, 1);
  --chart-5: rgba(255, 69, 0, 1);
  --sidebar: rgba(54, 54, 54, 1);
  --sidebar-foreground: rgba(250, 250, 250, 1);
  --sidebar-primary: rgba(125, 125, 255, 1);
  --sidebar-primary-foreground: rgba(250, 250, 250, 1);
  --sidebar-accent: rgba(71, 71, 71, 1);
  --sidebar-accent-foreground: rgba(250, 250, 250, 1);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgba(141, 141, 141, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}